<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Générateur de texte</title>
    <link href="../static/css/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
    <h1>Générateur de texte</h1>
</header>
<div>
    <form action="" method="POST">
        <label for="text_length">Longueur du texte (en mots) :</label>
        <input type="number" id="text_length" name="text_length" value="100" required>
        <!--        Choisir un chiffre entre 0 et 1 float, inout type "range" -->
        <label for="temperature">Temperature :</label>
        <input type="range" id="temperature" name="temperature" step="0.1" min="0" max="1" value="0.8" required>
        <p>Value:
            <output id="value">0.8</output>
        </p>
        <!--      Liste déroulante -->
        <label for="model_select">Choose a Model:</label>
        <select name="model_select" id="model_select" required>
            <option value="">--Please choose a model--</option>
            <option value="openai">OpenAI (Ada)</option>
            <option value="gpt2">GPT-2 - 100M parameters</option>
            <option value="kenbot">Our-Model - 10M parameters</option>
        </select>

        <label for="input_text">Écrivez une phrase :</label>
        <input type="text" id="input_text" name="input_text"
               placeholder="Exemple : Le mois dernier, je suis parti au Japon et j'ai visité">
        <button id="submit" type="submit">Générer</button>
    </form>
</div>

<div class="generated_text">
    {% if generated_text %}
    <h2>Texte généré :</h2>
    <p id="generated_text">{{ generated_text }}</p>
    {% endif %}
</div>
<footer>
    <p>&copy; 2023 Générateur de texte.</p>
</footer>
<!--Ajouter script JS src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/scripts/main.js"></script>

<script>
    // const lengthInput = document.getElementById('temperature');
    // const lengthOutput = document.getElementById('value');
    //
    // lengthInput.addEventListener('input', (event) => {
    //     lengthOutput.textContent = event.target.value;
    // });
    //
    // const generatedText = document.getElementById('generated_text');
    // const text = generatedText.innerText;
    // generatedText.innerText = '';
    //
    // let i = 0;
    // const intervalId = setInterval(() => {
    //     if (i >= text.length) {
    //         clearInterval(intervalId);
    //     } else {
    //         const char = text[i];
    //         if (char === ' ') {
    //             generatedText.innerHTML += '&nbsp;';
    //         } else {
    //             generatedText.innerText += char;
    //         }
    //         i++;
    //     }
    // }, 50);

</script>
</body>
</html>